<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<style>
  .axis path,
  .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }

  .axis text {
      font-family: sans-serif;
      font-size: 11px;
  }
</style>
<head>
    <meta charset="utf-8">
    <title>D3 Page Template</title>
    <script type="text/javascript" src="d3.v3.js"></script>
</head>

<div class="heatmap"></div>

<body>
<script type="text/javascript">

</script>
<script src="//d3js.org/d3.v3.min.js">
   var data = [];
    for(var i=0; i<240; i++) data[i] = {title: "Segment "+i, value: Math.round(Math.random()*100)};
    

    /* Define an accessor function */
    chart.accessor(function(d) {return d.value;})
    
    d3.select('#chart4')
        .selectAll('svg')
        .data([data])
        .enter()
        .append('svg')
        .call(chart);
    
    /* Add a mouseover event */
    d3.selectAll("#chart4 path").on('mouseover', function() {
        var d = d3.select(this).data()[0];
        console.log(d.title + ' has value ' + d.value);
    });
</script>

</body>
</html>