<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/test.css">
    <script type="text/javascript" src="/js/dygraph.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/dygraph.css">

    <style type="text/css">
      #graphdiv {
      position: absolute;
      width:1400px;
      height:600px;
      }
  </style>


  </head>
  <body>

<h1>
  Home page
</h1>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/metrics">Dygraphs</a></li>
  <li><a href="HeatMaps">HeatMaps</a></li>
  <!-- <li><a href="about.asp">About</a></li> -->
</ul>

<div id="graphdiv"></div>
<script src="/js/index_dygraph.js"></script>

</body>
</html>
