<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Heat Map</title>

    <script src="https://cmpt165.csil.sfu.ca/js/jquery-3.2.1.js"></script>
    <script src="https://cmpt165.csil.sfu.ca/js/raphael-2.1.4.js"></script>
    <!-- <script src="/public/js/Raphael/raphael.min.js"></script> -->
    <style type="text/css">
        #canvas_container {
            width: 500px;
            border: 1px solid #aaa;
        }
    </style>

  </head>
  <body>

<h1>
  Home page
</h1>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/metrics">Dygraphs</a></li>
  <li><a href="/HeatMaps">HeatMaps</a></li>
  <!-- <li><a href="about.asp">About</a></li> -->
</ul>

 <div id="graphdiv"></div>
<!-- <img src="/Data//HeatMap/HeatMap.png"> -->

<embed src="/Data//HeatMap/HeatMap.pdf" width="700px" height="550px" />

<!-- <a src="/Data/HeatMap/HeatMap.svg"></a> -->
<!-- <object id="svg-object" data="/Data/HeatMap/HeatMap.svg" type="image/svg+xml"></object> -->




<!-- <embed type="image/svg+xml" src="/Data/HeatMap/HeatMap.svg" /> -->
<!-- <img src="/Data/HeatMap/HeatMap.svg"> -->


</body>
</html>
