<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/test.css">
    <script type="text/javascript" src="/js/dygraph.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/dygraph.css">

    <style type="text/css">
      #graphdiv {
      position: absolute;
      left: 50px;
      right: 50px;
      top: 50px;
      bottom: 50px;
      }
  </style>

    Hello
  </head>
  <body>

<h1>
  Dygraphs
</h1>

<!-- This Works -->
<!-- <div id="graphdiv"></div>
<script type="text/javascript">
  g = new Dygraph(

    // containing div
    document.getElementById("graphdiv"),

    // CSV or path to a CSV file.
    "Date,Temperature\n" +
    "2008-05-07,75\n" +
    "2008-05-08,70\n" +
    "2008-05-09,80\n"

  );
</script> -->
 <div id="graphdiv"></div>
 <script type="text/javascript">
  g = new Dygraph(

    // containing div
    document.getElementById("graphdiv"),
      "/Data/WITS College House_kWh.csv",
      {
      }    // Options

  );
</script>




</body>
</html>
