<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/test.css">
    <script type="text/javascript" src="/js/dygraph.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/dygraph.css">

    <style type="text/css">
      #graphdiv {
      position: relative;
      left: 50px;
      right: 50px;
      top: 50px;
      bottom: 50px;
      }
  </style>

    <style type="text/css">
      #graphdivtest {
      position: relative;
      left: 50px;
      right: 50px;
      top: 50px;
      bottom: 50px;
      }
    </style>


    Hello
  </head>
  <body>

<h1>
  Dygraphs
</h1>

<!-- This Works -->
<!-- <div id="graphdiv"></div>
<script type="text/javascript">
  g = new Dygraph(

    // containing div
    document.getElementById("graphdiv"),

    // CSV or path to a CSV file.
    "Date,Temperature\n" +
    "2008-05-07,75\n" +
    "2008-05-08,70\n" +
    "2008-05-09,80\n"

  );
</script> -->
<!-- <div id="graphdiv"></div>
 <script type="text/javascript">
  g = new Dygraph(

    // containing div
    document.getElementById("graphdiv"),
      "/Data/WITS College House_kWh.csv",
      {
      }    // Options

  );
</script>  -->

<div id="graphdiv"></div>
<script src="/js/index.js"></script>

<!-- <div id="graphdiv2"></div>
<script src="/js/indextest.js"></script> -->


<div id="graphdivtest"></div>
<script src="/js/test.js"></script>




<form id="tableForm" action="/getJson" method="get">
  <select class="selectpicker" data-style="btn-info" name="selectpicker">
      <optgroup label="Select Table">
          <option name="" value="0">Select table</option>
          <option name="table1" value="1">Table 1</option>
          <option name="table2" value="2">Table 2</option>
          <option name="table3" value="3">Table 3</option>
      </optgroup>
  </select>
  <input type="submit" />
</form>


</body>
</html>
