<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home Page</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script> 
        $(function(){
          $("#header").load("html_templates/header.html"); 
        });
        </script> 
        <!-- <script>
        window.onload = function() {
    if (window.jQuery) {  
        // jQuery is loaded  
        alert("Yeah!");
    } else {
        // jQuery is not loaded
        alert("Doesn't Work");
    }
}
</script> -->
    </head>
<body>

    <div id="header"></div>
    
    <h1>
        Home page
    </h1>
<!-- 
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/metrics">Dygraphs</a></li>
        <li><a href="/HeatMaps">HeatMaps</a></li>
        <li><a href="/DataOutages">Data Outage</a></li>
        <li><a href="/SankeyDiagram">Sankey Diagram</a></li>        
        <li><a href="/ThreeDimensionalView">3D View</a></li>     
    </ul> -->

    </body>
</html>