*.synctex.gz
*.blg
*.bbl
*.aux
*.log
*.fdb_latexmk
*.fls
Administration Documents/Project Plan/Project Plan Report/Report/Report\.pdf
*.pdf
*.csv
*.pyc
*.json
*.txt
*.cmd
Database/Node Server/node_modules/.bin/
Database/Node Server/node_modules/
Web Scraping/Downloading Data/Historical Data Download/Chrome_Driver/Windows/chromedriver.exe
Web Scraping/Downloading Data/Historical Data Download/Chrome_Driver/Linux/chromedriver
Web Scraping/Downloading Data/Historical Data Download/Chrome_Driver/Mac/chromedriver
