*.synctex.gz
*.blg
*.bbl
*.aux
*.log
*.fdb_latexmk
*.fls
Administration Documents/Project Plan/Project Plan Report/Report/Report\.pdf
Database/Node Server/public/tmp/temp.csv
*.svg
Database/Node Server/public/Data/HeatMap/HeatMap.pdf
Database/Node Server/public/Python_Scripts/temp.csv
node_modules
Web Scraping/Downloading Data/Historical Data Download/Chrome_Driver/Windows/chromedriver.exe
Web Scraping/Downloading Data/Historical Data Download/Chrome_Driver/Mac/chromedriver
Web Scraping/Downloading Data/Historical Data Download/Chrome_Driver/Linux/chromedriver
