<!DOCTYPE html>
<html>
<head>
<script type='text/javascript'
  src='static/dygraph.js'></script>
<link rel='stylesheet' src='static/dygraph.css'/>
<style type='text/css'>
    #graphdiv {
    position: absolute;
    left: 50px;
    right: 50px;
    top: 50px;
    bottom: 50px;
    }
</style>


    
</head>
<body>

  <h1>
    Dygraphs
  </h1>

  <div id="graphdiv"></div>
<script type='text/javascript'>
  g = new Dygraph(

    // containing div
    document.getElementById("graphdiv"),
    // I had to make sure that the csv was inside the static folder
    // This seems to be important because otherwise the site won't pick up the file
    // It appears as if some research should be done in the "static files settings"
 // http://stackabuse.com/serving-static-files-with-flask/
 // https://pythonspot.com/flask-with-static-html-files/
 // https://stackoverflow.com/questions/26823212/redirecting-to-php-file-in-flask
 
      'static/Data/WITS College House_kWh.csv',
      {
      }    // Options

  );
</script>




</body>
    
</html>