<!DOCTYPE html>
<html>
<head>
  <!--<link rel="stylesheet" href="./static/css/style.css?ts=<?=time(0.5)?>">-->
<!--    <link rel="stylesheet" href="/static/css/style.css?ts=<?time(0.5)?">-->
    <script type="/text/javascript"
  src="/dygraph.js"></script>
<link rel="stylesheet" src="/dygraph.css" />
</head>
<body>

<ul>
  <li><a class ="active" href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
    <div class="dropdown-content">
      <a href="#">Test 1</a>
      <a href="#">Test 2</a>
      <a href="#">Link 3</a>
    </div>
  </li>
</ul>

<h3>Dropdown Menu inside a Navigation Bar</h3>
<p>Hover over the "Dropdown" link to see the dropdown menu.</p>
<div id="/graphdiv"></div>
<script type="text/javascript">
  g = new Dygraph(

    // containing div
    document.getElementById("/graphdiv"),

    // CSV or path to a CSV file.
    "Date,Temperature\n" +
    "2008-05-07,75\n" +
    "2008-05-08,70\n" +
    "2008-05-09,80\n"

  );
    
    
</body>
</html>
