<!DOCTYPE html>
<html>
   <head>
        <meta charset="utf-8">
        <title>Map</title>
        <script src="https://cmpt165.csil.sfu.ca/js/jquery-3.2.1.js"></script>
      <title>Leaflet sample</title>
      <link rel = "stylesheet" href = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
      <script src = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
      <script> 
            $(function(){
              $("#header").load("/html_templates/header.html"); 
            });
            </script> 
   </head>

   <body>
       
        <div id="header"></div>
      <div id = "map" style = "width: 1200px; height: 780px"></div>
      <script>
         // Creating map options
         var mapOptions = {
            center: [-26.1905, 28.0250],
            zoom: 17
         }
         
         // Creating a map object
         var map = new L.map('map', mapOptions);
         
         // Creating a Layer object and adding it to the map
          L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
         
         // Adding layer to the map
        //  map.addLayer(layer);

        
    L.tileLayer.wms("http://mesonet.agron.iastate.edu/cgi-bin/wms/nexrad/n0r.cgi", {
    	layers: 'nexrad-n0r-900913',
        format: 'image/png',
        transparent: true,
        attribution: "Weather data © 2012 IEM Nexrad"
    }).addTo(map);
      </script>
   </body>
   
</html>