<!DOCTYPE html>
<html>
	<meta charset="utf-8">
  <title>Sankey Diagram</title>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
  <script src="https://cmpt165.csil.sfu.ca/js/jquery-3.2.1.js"></script>
  <script> 
  $(function(){
    $("#header").load("/html_templates/header.html"); 
  });
  </script> 
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
  <META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 22 Jul 2002 11:12:01 GMT">


	<body>
    
      <div id="header"></div>
		<div id="chart"></div>
		<script src="https://unpkg.com/d3@4.10.2"></script>
		<script src="/js/Sankey/sk.d3.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/Sankey/sk.d3.min.css" />
		<script src="/tmp/SankeyDiagram/data_energyjson.txt"></script>
		<style>
			#chart {
				height: 700px;
				width: 1260px;
			}
		</style>
		<script>
			var configSankey = {
				margin: { top: 10, left: 10, right: 10, bottom: 10 },
				nodes: {
					dynamicSizeFontNode: {
						enabled: true,
						minSize: 14,
						maxSize: 30
					},
					draggableX: true, // default [ false ]
					draggableY: true, // default [ true ]
					colors: d3.scaleOrdinal(d3.schemeCategory10)
				},
				links: {
					formatValue: function(val) {
						return d3.format(",.0f")(val) +'kWh';
					}
				},
				tooltip: {
					infoDiv: true,
					labelSource: 'Input:',
					labelTarget: 'Output:'
				}
			}
			
			var objSankey = sk.createSankey('#chart', configSankey, energyjson);
		</script>
	</body>
</html>